<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="moon"></ion-icon>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)"></ion-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="cart" (click)="presentCartAlert()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of products">
        <ion-card>
          <ion-thumbnail>
            <img [src]="product.thumbnail" [alt]="product.title">
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>{{ product.title }}</ion-card-title>
            <ion-card-subtitle>{{ product.price | currency:'TRY ' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ product.description }}
          </ion-card-content>
          <ion-button expand="full" color="primary" (click)="addToCart([{id: product.id, quantity:1}])">Sepete
            Ekle</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-alert
    [isOpen]="isAlertOpen"
    [header]="alertHeader"
    [message]="alertMessage"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>

</ion-content>