version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8100:8100"
      - "35729:35729"
    volumes:
      - ./araSinav:/app
      - node_modules:/app/node_modules
    tty: true
    stdin_open: true
    command: sh -c "npm install && ionic serve --host=0.0.0.0"

volumes:
  node_modules:
