<ion-content class="auth-page">
  <form (ngSubmit)="login()" [formGroup]="uyelikBilgisi">
    <div class="input-group">
      <ion-item>
        <ion-input type="text" placeholder="Kullanıcı Adı" [formControl]="username"></ion-input>
      </ion-item>
      <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors">
        <span *ngIf="username.errors['required']">Kullanıcı Adı Gereklidir</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Parola" [formControl]="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors['required']">Parola Gereklidir</span>
      </div>
    </div>
    <ion-button type="submit" expand="block" [disabled]="!uyelikBilgisi.valid">
      Giriş Yap
    </ion-button>
    <ion-button [routerLink]="['/register']" expand="block" fill="clear" color="warning">
      Kayıt Ol
    </ion-button>
  </form>
</ion-content>